.leaderboard-container {
  max-width: 100%;
  margin: auto;
}

.leaderboard-container h2 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 600;
  color: white;
  font-size: 3vw;
}

.leaderboard-table {
  width: 80%;
  border-collapse: collapse;
  background: var(--color-primary);
  color:white;
  border-radius: 20px;
  overflow: hidden;
  margin: 0 auto;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.leaderboard-table thead {
  background: var(--color-primary-dark);
  color: white;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 12px;
  text-align: center;
}

.leaderboard-table tbody tr:nth-child(even) {
  background: var(--color-primary-light);
}

.leaderboard-table tbody tr:hover {
  background: var(--color-primary-dark);
  transition: background 0.2s;
}
